<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:head> 
        <title>Application</title>
    </h:head>
    <h:body>
        <h:form>
            <p:fileUpload fileUploadListener="#{fileUploadView.handleFileUpload}" mode="advanced" dragDropSupport="false"
                          multiple="true" update="messages" sizeLimit="1000000000" allowTypes="/(\.|\/)(txt)$/" />

            <p:growl id="messages" showDetail="true" />

            <h:panelGrid columns="4" cellpadding="5" id="panel">
                <p:fieldset legend="A-G" style="margin-bottom:20px">
                    <ui:repeat var="ag" value="#{fileUploadView.fromAtoG.keySet().toArray()}">
                        <h:outputText value="#{ag} #{fileUploadView.fromAtoG[ag]}"/>
                        <br/>
                    </ui:repeat>
                </p:fieldset>
                <p:fieldset legend="H-N" style="margin-bottom:20px">
                    <ui:repeat var="hn" value="#{fileUploadView.fromHtoN.keySet().toArray()}">
                        <h:outputText value="#{hn} #{fileUploadView.fromHtoN[hn]}"/>
                        <br/>
                    </ui:repeat>
                </p:fieldset>
                <p:fieldset legend="O-U" style="margin-bottom:20px">
                    <ui:repeat var="ou" value="#{fileUploadView.fromOtoU.keySet().toArray()}">
                        <h:outputText value="#{ou} #{fileUploadView.fromOtoU[ou]}"/>
                        <br/>
                    </ui:repeat>
                </p:fieldset>
                <p:fieldset legend="V-Z" style="margin-bottom:20px">
                    <ui:repeat var="vz" value="#{fileUploadView.fromVtoZ.keySet().toArray()}">
                        <h:outputText value="#{vz} #{fileUploadView.fromVtoZ[vz]}"/>
                        <br/>
                    </ui:repeat>
                </p:fieldset>
            </h:panelGrid>

            <p:commandButton value="Calculate" icon="ui-icon-star" action="#{fileUploadView.results}" update="panel">
            </p:commandButton>
        </h:form>
    </h:body>
</html>

